{% extends "base.html" %}
{% block content %}
<h2>Login</h2>
<form method="POST">
  <div style="margin-bottom: 10px;">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" class="input-field">
  </div>

  <div style="margin-bottom: 10px;">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" class="input-field">
  </div>

  <button type="submit">Login</button>
</form>

{% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
{% endblock%}
